body{
    padding-left: 0px;
    margin: 0px;
    background-color: rgb(255,255,255);
    overflow: hidden; 
}

div#main_div{
    width: 800px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(255,255,255);
    background-image: url('hotel9.png');
    background-repeat: no-repeat;
}

div#menu_1_div{
    text-align: right;
    padding-top: 225px;
    padding-left: 104px;
    width: 120px;
    height: 600px;
    font-family: sans-serif;
    font-size: 16px;
}

a.menulink{
    font-weight: bold;
    text-decoration: none;
    color: rgb(0,0,0);
}

div#text_div{
    position: absolute;
    top: 0px;
    left: 290px;
    width: 540px;
    height: 600px;
    font-family: sans-serif;
    overflow: hidden; 
    color: rgb(70,70,70);
}

span.kiem{
    font-weight: bold;
    color: rgb(0,0,0);
}

/*div.divider{
    width: 100%;
    height: 40px;
    margin-left: 100px;
    background-image: url('divider.png');
    background-repeat: no-repeat;
}*/

div#megsz{
    font-weight: bold;
    /*text-align: center;*/
}


td.kk{
    width: 33px;
    background-image: url('kiskulcs.png');
    background-repeat: no-repeat;
    background-position: top;
}

div.szoveg{
    padding-left: 40px;
}

div#idezo1{
    position: relative;
    left: 160px;
    top: 30px;
    height: 60px;
    line-height: 1.3em;
    float: left;
    width: 460px;
}

span.tag{
    font-family:"Times New Roman", Times, serif;
    font-size: 1.4em;
    color: #84a1a9;
    font-style: italic;
    vertical-align: -15px;	
}

div#idezo2{
    position: relative;
    left: 160px;
    top: 30px;
    height: 60px;
    line-height: 1.3em;
    float: left;
    width: 460px;
}
div#idezo3{
    position: relative;
    left: 160px;
    top: 30px;
    height: 60px;
    line-height: 1.3em;
    float: left;
    width: 460px;
}

span#tit{
    color: rgb(100,100,100);
    font-style: italic;
    font-size: 12px;
 }